body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

span {
  // line-height: 1.2em;
}

p {
  font-size: 1em;

  @media (min-width: $tablet) {
    font-size: 1em;
  }

  @media (min-width: $laptop) {
    font-size: 1em;
  }

  @media (min-width: $laptopL) {
    font-size: 1em;
  }
}

button {
  background-color: $green;
  color: black;
  font-weight: bolder;
  padding: 1em 2em;
  outline: none;
  border: none;
  text-transform: uppercase;
}

a {
  color: black;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;

  &:hover {
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.5);
  }

  & :visited {
    text-decoration: none;
  }
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;

  @media (min-width: $tablet) {
    font-size: 1.2em;
  }

  @media (min-width: $laptop) {
    font-size: 1.5em;
  }

  @media (min-width: $laptopL) {
    font-size: 2em;
  }
}

.left-header {
  text-align: left;
  width: 100%;
}

.act-btn {
  font-size: 1em;
  background-color: white;
  border: 1px solid black;
  padding: 0.5em;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 1em;
  }

  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgb(211, 211, 211);
    outline: none;
  }
}

.slide-btn {
  position: absolute;
  bottom: -10%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

#content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(min-content, auto);
  margin: 0 auto;
  grid-template-areas:
    "info info"
    "nav nav"
    "hero hero"
    "content1 content1"
    "stats stats"
    "offer offer"
    "business business"
    "footer footer";
  overflow-x: hidden;
  overflow-y: hidden;
}

.contact-info {
  grid-area: info;
  display: flex;
  background-color: $dark-blue;
  color: white;
  justify-content: flex-end;
  padding: 0.5rem;
  height: 3rem;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

nav {
  grid-area: nav;
  background-color: rgba(255, 255, 255, 1);
  padding: 1em;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: 2;
  margin-top: 3em;

  &.fixed {
    position: fixed;
    margin-top: 0;
  }

  img {
    object-fit: contain;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .checkbtn {
    font-size: 2em;
    float: right;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  #check:checked + section {
    left: 0 !important;
  }

  @media (max-width: $tablet) {
    .checkbtn {
      display: block;
      color: black;
    }

    #menu {
      position: fixed;
      width: 70vw;
      height: 100vh;
      background: #2c3e50;
      top: 0;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      flex-direction: column;

      & a {
        display: block;
        margin: 2em 0;
        line-height: 1.5em;
      }
    }

    a:hover,
    a.active {
      background: none;
      color: #0082e6;
    }
  }
}

.my-slider {
  margin-top: 12em;
  height: calc(100vh - 10em);
  width: 100vw;
}

.controls {
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
  z-index: 1;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0.5em;

  &:focus {
    outline: none;
  }

  & li {
    background-color: rgba(white, 0.3);
    padding: 0.5em;
    transition: 0.5s;
    border-radius: 50%;

    img {
      width: 1.5em;
      height: 1.5em;
    }

    &:hover {
      background-color: rgba($dark-blue, 0.5);
    }

    &:focus {
      outline: none;
    }
  }
}

.tns-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: $light-blue;
  padding: 0.5em;
  border-radius: 0.5em;

  &-active {
    background-color: $dark-blue !important;
  }

  button {
    background-color: white;
    padding: 0.2em;
    border-radius: 50%;
    margin: 0 0.2em;
    outline: none;
    border: none;
  }
}

@keyframes backgroundEffect {
  0% {
    // background-position: 0% 0%;
    background-size: 100%;
  }

  50% {
    // background-position: 30% 30%;
    background-size: 105%;
  }

  100% {
    // background-position: 0% 0%;
    background-size: 100%;
  }
}

.slide {
  // background-color: red;
  height: 100%;
  width: 100%;
  background-position: center;
  background-clip: border-box;
  background-size: 100% 100%;
  // animation: backgroundEffect 20s infinite !important;

  &_wrapper {
    // min-height: 30vh;
    height: 100%;
    width: 100%;
    // transform: translateY(50%);

    &_box {
      @media (min-width: $tablet) {
        margin: 13em auto;
        padding: $small-padding;
        width: 50vw;
      }

      @media (min-width: $laptop) {
        margin: 11em auto;
        padding: $smaller-padding;
      }

      @media (min-width: $laptopL) {
        margin: 10em auto;
        padding: calc(#{$typical-padding} - 1em);
      }

      margin: 10em auto;
      padding: 2em;
      // border: 1rem rgba(128, 128, 128, 0.5) solid;
      border-radius: 0.2rem;
      position: relative;
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
      // margin: auto;
      min-width: 50vw;
    }

    hr {
      border: 1px black solid;
      margin-bottom: 2rem;
    }

    span {
      display: inline-block;
    }
  }
}

$blend-color: rgba(0, 0, 0, 0.5);

.hero {
  grid-area: hero;
  // background-clip: border-box;
  // background-size: cover;
  height: 100vh;

  @media (max-width: $mobileL) {
    display: none;
  }

  #section_1 {
    background: url(../images/slider-image-1.jpg) $blend-color;
    background-blend-mode: multiply;
    background-position: center;
    background-clip: border-box;
    background-size: 100% 100%;
  }

  #section_2 {
    background: url(../images/slider-image-2.jpg) $blend-color;
    background-blend-mode: multiply;
    background-position: center;
    background-clip: border-box;
    background-size: 100% 100%;
  }

  #section_3 {
    background: url(../images/slider-image-3.jpg) $blend-color;
    background-blend-mode: multiply;
    background-position: center;
    background-clip: border-box;
    background-size: 100% 100%;
  }

  #section_4 {
    background: url(../images/slider-image-1.jpg) $blend-color;
    background-blend-mode: multiply;
    background-position: center;
    background-clip: border-box;
    background-size: 100% 100%;
  }

  #section_5 {
    background: url(../images/slider-image-2.jpg) $blend-color;
    background-blend-mode: multiply;
    background-position: center;
    background-clip: border-box;
    background-size: 100% 100%;
  }

  @keyframes fade-in {
    0% {
      opacity: 0%;
    }

    // 10% {
    //   opacity: 25%;
    // }

    // 50% {
    //   opacity: 50%;
    // }

    // 80% {
    //   opacity: 85%;
    // }

    100% {
      opacity: 100%;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 100%;
    }

    10% {
      opacity: 50%;
    }

    50% {
      opacity: 20%;
    }

    60% {
      opacity: 10%;
    }

    80% {
      opacity: 0%;
    }

    100% {
      opacity: 0%;
    }
  }

  .animation_fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  .animation_fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  &-box {
    z-index: 2;
    margin: 40vh 20vw;
    height: 40vh;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1.4rem;
    border-color: rgba(245, 245, 245, 0.9);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);

    section {
      max-width: 70%;
    }

    #sample {
      width: auto;
      object-fit: cover;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.content {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-clip: border-box;
  width: auto;
}

.content1 {
  grid-area: content1;
  background-image: url(../images/window-apartment.jpg);
}

.content2 {
  grid-area: content2;
  background-image: url(../images/ventilation-hero.jpg);
}

.about2 {
  margin-left: 40rem !important;
}

.about {
  padding: $small-padding;

  @media (max-width: $mobileL) {
    margin-top: 5em;
  }

  @media (min-width: $tablet) {
    margin: $smaller-padding;
    padding: $smaller-padding;
  }

  @media (min-width: $laptop) {
    margin: $typical-padding;
    padding: $typical-padding;
  }

  @media (min-width: $laptopL) {
    margin: 10em;
  }

  background-color: white;
  z-index: 2;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  h2 {
    font-size: 1rem;
    color: $dark-blue;
  }

  img {
    object-fit: contain;
  }

  hr {
    color: $gray;
    border-width: 2px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 40%;
  }

  span {
    font-size: 1rem;
  }

  button {
    margin-top: 2em;
    margin-bottom: 0;
  }
}

hr {
  color: $gray;
  border-width: 2px;
  // margin-top: 5rem;
  // margin-bottom: 2rem;
  width: 40%;
}

.stats {
  grid-area: stats;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: row;
  justify-content: center;

  &_cell {
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $small-padding;

    @media (min-width: $tablet) {
      padding: $smaller-padding;
    }

    @media (min-width: $laptop) {
      padding: $typical-padding;
    }

    .number {
      color: $green;
      font-size: 1em;
      font-weight: 600;

      @media (min-width: $tablet) {
        font-size: 2em;
      }
    }

    .desc {
      color: black;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 300;
      text-align: center;
    }

    img {
      object-fit: contain;
      width: 3em;
      height: 3em;

      @media (min-width: $tablet) {
        width: 4em;
        height: 4em;
      }
    }
  }

  .cell {
    &--1 {
      grid-area: cell--1;
      // background-image: url(../images/client_1.jpg);
    }

    &--2 {
      grid-area: cell--2;
      // background-image: url(../images/client_2.jpg);
    }

    &--3 {
      grid-area: cell--3;
      // background-image: url(../images/client_3.jpg);
    }
  }
}

.clients {
  grid-area: clients;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(85vh, auto);
  grid-template-areas: "client--1 client--2 client--3";

  &_client {
    transition: 0.5s;
    background-position: center;
    overflow: hidden;
    z-index: 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &_intern {
      width: 100%;
      height: 100%;
      transition: 1s;
      font-size: 1.4rem;
      padding: 1.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      button {
        padding: 1rem 2rem;
        background: transparent;
        outline: none;
        border: 2px solid black;
        font-size: 1.4rem;
      }

      p {
        text-align: center;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1.02);

        button {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  .client {
    &--1 {
      grid-area: client--1;
      background-image: url(../images/client_1.jpg);
    }

    &--2 {
      grid-area: client--2;
      background-image: url(../images/client_2.jpg);
    }

    &--3 {
      grid-area: client--3;
      background-image: url(../images/client_3.jpg);
    }
  }
}

.offers {
  grid-area: offer;
  display: flex;
  flex-direction: column;
  padding: $small-padding;
  margin-top: $small-padding;

  @media (min-width: $tablet) {
    padding: $smaller-padding;
    margin-top: $smaller-padding;
  }

  @media (min-width: $laptop) {
    padding: $typical-padding;
    margin-top: $typical-padding;
  }

  &_offer {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      flex-direction: row;

      &_1 {
        margin-bottom: 5em;

        span {
          @media (min-width: $tablet) {
            padding-left: $smaller-padding;
          }

          @media (min-width: $laptop) {
            padding-left: $typical-padding;
          }
        }
      }

      &_2 {
        margin-top: 5em;
        flex-direction: row-reverse;

        span {
          @media (min-width: $tablet) {
            padding-right: $smaller-padding;
          }

          @media (min-width: $laptop) {
            padding-right: $typical-padding;
          }
        }
      }
    }

    &-img_wrapper {
      flex: 1;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    span {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.8);

      @media (max-width: $mobileL) {
        padding-top: $small-padding;
      }

      // @media (min-width: $laptop) {
      //   padding: 0 $typical-padding;
      // }

      h1 {
        margin-top: 0;
        margin-bottom: 1em;
      }
    }
  }
}

.business {
  grid-area: business;
  background-color: black;

  &_content {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      padding: $small-padding;

      &_desc {
        button {
          align-self: center;
        }
      }
    }

    @media (min-width: $tablet) {
      padding: $smaller-padding;
      flex-direction: row;

      &_image-wrapper {
        padding: $smaller-padding;
      }
    }

    @media (min-width: $laptop) {
      padding: $typical-padding;

      &_image-wrapper {
        padding: $typical-padding;
      }
    }

    &_desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      flex: 1;

      button {
        margin-top: 2em;
      }
    }

    &_image-wrapper {
      flex: 1;

      img {
        object-fit: contain;
        max-width: 100%;
      }
    }
  }
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  height: 5vh;

  span {
    margin: 10vw auto;
  }
}
